.container {
	@screen md {
		@apply flex justify-center min-h-screen;
	}
	@apply p-4 min-h-screen;

	.contents_card {
		@screen md {
			@apply border border-solid border-customDark px-4 flex flex-col;
			width: 768px;
		}
		@apply w-full flex flex-col gap-4;

		.contents_wrap {
			@apply flex-grow;

			.signin__header_title {
				@screen md {
					@apply text-4xl font-bold mt-10;
				}
				@apply text-customDark text-4xl font-bold mt-10;
			}

			.signin__header_subtitle {
				@screen md {
					@apply text-base mt-4;
				}
				@apply text-customGray text-base mt-4;
			}
			.form {
				.form_label {
					@apply text-customDark mt-4 mb-2;

					&::after {
						@apply text-customOrange;
						content: '*';
					}
				}
			}
		}

		.footer_wrap {
			@apply text-center mb-8 text-customGray text-base;

			.signup {
				@apply ml-2;
				color: #e5855d;
			}
		}
	}
}
