.container {
	@screen md {
		@apply mt-4 mx-0;
	}

	@apply mx-4;

	.link {
		@screen md {
			@apply text-customDark text-center w-full inline-block border border-solid border-customDark py-4 font-bold;
			height: 56px;
			width: 504px;
			border-radius: 40px;
		}

		@apply text-customDark text-center w-full inline-block border border-solid border-customDark py-3 font-bold;
		border-radius: 40px;
	}

	.btn_container {
		// @screen md {
		// 	@apply flex justify-center gap-4;
		// }

		@apply flex justify-center gap-4;

		.icon_container {
			@apply flex justify-center items-center;
		}

		// .btn_text {
		// 	@screen md {
		// 		@apply ml-2;
		// 	}
		// }
	}
}
