.create_feed_container {
	@apply mt-10;

	.selectedGroup_title {
		@apply font-semibold text-lg;
	}

	.selectedGroup_groups_container {
		@apply flex flex-wrap overflow-y-auto h-72 mt-5 py-5;

		.group_card_wrap {
			@apply w-full;
		}
	}

	.selectedGroup_description {
		@apply mt-5 font-light text-sm;
	}

	.button_container {
		@apply flex w-full gap-5;

		.emoji_container {
			@apply mr-2 relative flex justify-center items-center;

			.emoji_icon {
				@apply cursor-pointer;
			}

			.emoji_view_container {
				@apply absolute z-10 -top-[420px] left-0;
			}
		}
	}

	.uploaded_container {
		@apply w-full flex flex-wrap;
	}

	.upload_title {
		@apply mt-10;
	}

	.form {
		.form_top_wrap {
			@apply flex flex-col gap-4;
		}

		.form_field_container {
			@apply mt-5;
		}

		.form_swiper_container {
			@apply mt-5;
		}
	}
}

@mixin alignCenter() {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
	align-items: center;
}

.drag_drop {
	@apply border border-solid border-customDark rounded-lg my-4 p-2;
	width: 100%;
	height: 200px;
	@include alignCenter();

	> label {
		@apply w-full h-full flex justify-center items-center bg-customOrange text-customDark font-semibold rounded-lg;
	}
}
