.create_feed_container {
	@apply mt-10;
}

.selectedGroup_title {
	@apply font-semibold text-lg;
}

.selectedGroup_groups_container {
	@apply flex flex-wrap overflow-y-auto h-72 mt-5 py-5;

	.group_card_wrap {
		@apply w-full;
	}
}

.selectedGroup_description {
	@apply mt-5 font-light text-sm;
}

.selectedGroup_button_container {
	@apply flex w-full gap-5;
}

@mixin alignCenter() {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
	align-items: center;
}

.drag_drop {
	@apply border border-solid border-customDark rounded-lg my-4 p-2;
	width: 100%;
	height: 200px;
	@include alignCenter();

	> label {
		@apply w-full h-full flex justify-center items-center bg-customOrange text-customDark font-semibold rounded-lg;
	}
}

.swiper_button_prev {
	@apply absolute left-5 z-50 top-1/2 border border-solid border-customDark
	bg-customOrange rounded-full p-2;
}
.swiper_button_next {
	@apply absolute right-5 
	z-50 top-1/2 border border-solid border-customDark
	bg-customOrange rounded-full p-2;
}
