.feed_card_container {
	@apply border border-solid border-customDark w-full;

	.feed_card_top_container {
		@apply p-4 flex;

		.feed_card_setting_container {
			@apply ml-auto cursor-pointer relative;
		}
	}

	.feed_description_container {
		@apply px-4 pt-8 pb-6 text-sm whitespace-pre;
	}

	.feed_media_container {
		@screen md {
			@apply w-full;
		}
		@apply border-y border-solid border-customDark border-collapse bg-white cursor-pointer w-full;
		height: 426px;
	}

	.feed_bottom_container {
		@apply flex p-4 h-16 gap-8;

		.like_container {
			@apply flex justify-center items-center;

			.like_icon {
				@apply cursor-pointer;
			}

			.like_count {
				@apply ml-2 font-medium;
			}
		}

		.feed_icon_container {
			@apply flex justify-center items-center;

			.feed_icon {
				@apply cursor-pointer;
			}
		}

		.comments_link {
			@apply ml-auto flex justify-center items-center font-medium cursor-pointer underline;
		}
	}
}
