//헤더
.header_container {
	@apply sticky top-0 z-50 bg-basic w-full;
	.header_wrap {
		@screen md {
			@apply mx-11;
		}
		@apply flex justify-center items-center mx-4 h-full;

		//header logo
		.header_left_container {
			@apply flex;
			.header_logo {
				@screen md {
					@apply text-4xl;
				}
				@apply text-3xl font-bold cursor-pointer;
			}

			.search_field_wrap {
				@screen md {
					@apply block;
				}
				@apply hidden relative;
			}
		}
	}
	@apply h-20 border-customDark border-solid border-b;

	.right_icons_container {
		@apply ml-auto flex gap-2;

		.icon_parent {
			@apply relative;

			.icon_wrap {
				@screen md {
					@apply w-12 h-12;
				}
				@apply relative w-10 h-10 flex justify-center items-center border border-solid border-customDark rounded-full;

				&:hover {
					@apply border-customOrange;

					> svg {
						@apply fill-customOrange;
					}

					.icon {
						@apply cursor-pointer;
					}
				}

				&.active {
					@apply border-customOrange;

					> svg {
						@apply fill-customOrange;
					}
				}

				&.mobile_hide_icon {
					@screen md {
						@apply flex;
					}

					@apply hidden;
				}
			}
		}

		.mobile_icon_wrap {
			@screen md {
				@apply hidden w-12 h-12;
			}
			@apply relative w-10 h-10 flex justify-center items-center border border-solid border-customDark rounded-full;

			&:hover {
				@apply border-customOrange;

				> svg {
					@apply fill-customOrange;
				}

				.icon {
					@apply cursor-pointer;
				}
			}

			&.active {
				@apply border-customOrange;

				> svg {
					@apply fill-customOrange;
				}
			}
		}
	}
}
