.container {
	@screen md {
		@apply h-full;
	}
	@apply h-full text-customDark;

	//컨텐츠
	.contents_container {
		@apply flex relative;
		height: calc(100vh - 80px);
		overflow-y: auto; /* 스크롤 가능한 컨테이너로 만듭니다. 이걸 해주어야 왼쪽 사이드바 sticky가 먹음 */

		.detail_container {
			@apply relative py-8;
			flex: 1;

			.main_contents_container {
				@screen md {
					@apply mx-auto;
					width: 768px;
				}
				@apply w-full h-full;

				.select_group_container {
					@apply h-full relative;

					// 현재 STEP표시
					.step_title {
						@apply font-bold text-3xl mb-5;
					}

					.selectedGroup_title {
						@apply font-semibold text-lg;
					}

					.selectedGroup_groups_container {
						@apply flex flex-wrap overflow-y-auto h-72 my-5;

						.group_card_wrap {
							@apply w-full;
						}
					}

					.button_container {
						@screen md {
							@apply fixed bottom-0 flex gap-4;
							width: 768px;
						}
						@apply w-full mb-10;
					}
				}
			}
		}
	}
}
