.container {
	@screen md {
		@apply h-full;
	}
	@apply h-full text-customDark;

	//컨텐츠
	.contents_container {
		@apply flex;
		overflow-y: auto; /* 스크롤 가능한 컨테이너로 만듭니다. 이걸 해주어야 왼쪽 사이드바 sticky가 먹음 */
		height: calc(100vh - 80px);

		.detail_container {
			@apply relative;
			width: calc(100vw - 300px);
		}
	}
}
