.container {
	@apply border border-solid border-customDark shadow-2xl z-[100] rounded-tr-[44px] h-full p-4 flex flex-col gap-4 cursor-default;

	.profile_container {
		@apply flex;

		.profile_img_container {
			@apply border border-solid border-customDark mr-3 relative;
			height: 60px;
			width: 60px;
		}

		.right_container {
			@apply flex flex-col gap-4;

			.profile_username {
				@apply font-bold text-customDark text-lg;
			}

			.mention {
				@apply text-customGray text-sm;
			}
			.profile_email {
				@apply text-customDark text-sm font-semibold flex gap-2;
			}
		}
	}
}
