.profile_container {
	@apply flex;

	.profile_img_parent_container {
		@apply relative;
		width: 40px;
		height: 40px;

		.profile_img_container {
			@apply border border-solid border-customDark rounded-full mr-3 relative;
			height: 40px;
			width: 40px;
		}

		.chat_members_container {
			@apply absolute;
			bottom: -10px;
			right: -10px;

			.chat_member_profile {
				@apply border border-solid border-customDark rounded-full absolute;
				height: 20px;
				width: 20px;
			}
		}
	}

	.profile_username {
		@apply font-bold;
	}

	.profile_email {
		@apply text-sm text-customGray;
	}

	.profile_role {
		@apply text-sm text-customGray;
	}

	.profile_comment_username {
		@apply text-sm font-medium ml-4;
	}
	.profile_comment_contents {
		@apply text-sm mt-3 ml-4 whitespace-pre-wrap break-words break-all;
	}
}
