.container {
	@screen md {
		@apply h-full;
	}
	@apply h-full text-customDark;

	//컨텐츠
	.contents_container {
		@apply flex relative;
		height: calc(100vh - 80px);
		overflow-y: auto; /* 스크롤 가능한 컨테이너로 만듭니다. 이걸 해주어야 왼쪽 사이드바 sticky가 먹음 */

		.detail_container {
			@apply relative py-8;
			flex: 1;

			.main_contents_container {
				@screen md {
					@apply mx-auto;
					width: 768px;
				}
				@apply w-full h-full;

				// tab_menu
				.tab_menu_wrap {
					@screen md {
						@apply mx-0;
					}
					@apply mx-4;
				}

				.schedule_container {
					@screen md {
						@apply mx-0;
					}
					@apply pt-6 pb-8 flex flex-col gap-10 mx-4;
				}
			}

			// mobile-create-schedule-btn
			.mobile_create_schedule_btn_container {
				@screen md {
					@apply hidden;
				}
				@apply fixed bottom-6 right-4 border border-solid border-customDark bg-customOrange flex justify-center items-center rounded-full p-4;
			}
		}
	}
}
