.sidebar_menu_container {
	@apply flex mt-11 py-4 cursor-pointer relative;

	&:hover {
		::after {
			@apply bg-customOrange;
			content: '';
			position: absolute;
			top: 50%;
			left: 254px;
			transform: translateY(-50%); /* 세로 가운데 정렬을 위한 변환 */
			width: 4px;
			height: 50%;
		}
		> svg {
			@apply fill-customOrange;
		}
	}
	&.active {
		> svg {
			@apply fill-customOrange;
		}
		.sidebar_menu_text {
			@apply text-customOrange;
		}
	}

	.sidebar_menu_text {
		@apply font-medium text-lg ml-10 flex justify-center items-center;
	}
}
