.right_sidebar_container {
	@screen 2xl {
		@apply block;
	}
	@apply w-[400px] border-l border-solid border-customDark h-full sticky top-0 z-40 block;

	//side_bar_tab_menu
	.side_top_container {
		@apply flex border-b border-solid border-customDark;

		.top_tab_menu {
			@apply mx-2 my-2 relative;
			.top_tab_menu_item {
				@apply text-sm font-medium px-2 cursor-pointer;

				&.active {
					&::after {
						content: '';
						position: absolute;
						top: 12px;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 5px;
						background-color: #e5855d;
						z-index: -1; /* 텍스트 아래에 배치 */
					}
				}
			}
		}
	}

	.group_profile_container {
		@apply p-1 border-b border-solid border-customDark;
	}
	//list_container
	.list_container {
		@apply my-6 mx-4 flex flex-col gap-8;
	}
}
