/* mentions */
.mentions {
	width: 100%;
}
.mentions--singleLine .mentions__control {
	display: inline-block;
	//padding-left: 10px;
}
.mentions--singleLine .mentions__highlighter {
	//padding: 1px;
	//border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
	//border: 2px inset grey;

	//padding-left: 10px;
}

// .mentions--multiLine .mentions__control {
// }
.mentions--multiLine .mentions__highlighter {
	border: 1px solid transparent; // 중요
	//padding: 9px;
	//min-height: 63px;
}
.mentions--multiLine .mentions__input {
	border: 1px solid #fff9f4; // 중요
	//padding: 9px;
	outline: 0;
}
.mentions__suggestions__list {
	@apply z-[30];
	position: relative;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	max-height: 300px;
	overflow-y: auto;
}

.mentions__suggestions__item {
	padding: 5px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.mentions__suggestions__item--focused {
	background-color: #e5855d;
	color: #fff;
}
.mentions__mention {
	@apply text-customOrange;
	position: relative;
	z-index: 1;
	color: #e5855d;
	text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white,
		-1px -1px 1px white;
	text-decoration: none;
	//pointer-events: none;

	&:hover {
		@apply z-[30];

		.mention_view_modal {
			@apply block z-[20];
		}
	}

	.mention_view_modal {
		@apply hidden absolute w-[400px] bg-white bottom-4 z-[20];
	}
}
