@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
	font-family: 'Noto Sans KR', sans-serif;
	@apply text-base;
}

:root {
	--swiper-pagination-bullet-border-radius: 100%;
	--swiper-pagination-bullet-width: 12px;
	--swiper-pagination-bullet-height: 12px;
	--swiper-pagination-bullet-horizontal-gap: 10px;
	--swiper-pagination-color: #e5855d;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px #fff9f4 inset;
}
