@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
	font-family: 'Noto Sans KR', sans-serif;
	@apply text-base;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	user-select: none;
	-webkit-touch-callout: none;
	/* Keyword values */
	-webkit-touch-callout: default;
	-webkit-touch-callout: none;
}

:root {
	--swiper-pagination-bullet-border-radius: 100%;
	--swiper-pagination-bullet-width: 12px;
	--swiper-pagination-bullet-height: 12px;
	--swiper-pagination-bullet-horizontal-gap: 10px;
	--swiper-pagination-color: #e5855d;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px #fff9f4 inset;
}

body {
	@apply bg-basic;
	position: fixed;
	overflow: hidden;
	touch-action: none;
}

/* react-datepicker global */

/* .react-datepicker {
	font-family: 'Noto Sans KR', sans-serif;
	padding: 20px;
	border: none;
	border-radius: 0;

	.react-datepicker__header {
		border-bottom: none;
		border-radius: 0;
		background: white;
		color: #0a0a0a;

		.react-datepicker__day-names {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;

			.react-datepicker__day-name {
				color: #0a0a0a;
			}
		}
	}

	.react-datepicker__triangle {
		display: none;
	}
} */

.react-datepicker {
	font-family: 'Noto Sans KR', sans-serif;
	padding: 20px;
	border: none;
	border-radius: 0;
}

.react-datepicker .react-datepicker__triangle {
	display: none;
}

.react-datepicker .react-datepicker__header {
	border-bottom: none;
	border-radius: 0;
	background: white;
	color: #0a0a0a;
}
.react-datepicker .react-datepicker__header .react-datepicker__day-names {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.react-datepicker
	.react-datepicker__header
	.react-datepicker__day-names
	.react-datepicker__day-name {
	color: #0a0a0a;
}

@media (max-width: 768px) {
	.react-datepicker {
		width: 100%;
	}
}

.react-datepicker__month-container {
	width: 100%;
}

.react-datepicker__day--in-selecting-range {
	color: white !important;
	background-color: rgb(229 231 235) !important;
}

@media (max-width: 1495px) {
	.react-datepicker__day,
	.react-datepicker__day-name,
	.react-datepicker__time-name {
		padding: 4px;
		width: 40px !important;
		line-height: 2rem !important;
	}
}
